.feed-post-card {
  overflow: hidden;
  margin: 8px;
  width: 256px;
  height: 256px;
  background-position: center;
  background-size: cover;
  transition: 80ms linear;
  display: flex;
  flex-direction: column-reverse;
}

.feed-post-card__title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
  transition: 80ms linear;
}

a.feed-post-card, a.feed-post-card:hover {
  text-decoration: none;
}

.feed-post-card:hover {
  transform: scale(1.1);
}

.feed-post-card:hover > .feed-post-card__title {
  background: rgba(0, 0, 0, 0.8);
}
