.feed-post-card {
  overflow: hidden;
  margin: 10px;
  width: 350px;
  height: 350px;
  background-position: center;
  background-size: cover;
  transition: 80ms linear;
  display: flex;
  flex-direction: column-reverse;
}

.feed-post-card__footer {
  background: rgba(0, 0, 0, 0.5);
  transition: 80ms linear;
  color: #fff;
  display: flex;
  padding: 10px;
  flex-flow: column;
  justify-content: center;
}

.feed-post-card__content {
  padding: 16px;
  opacity: 0;
  color: white;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.9);
  transition: 80ms linear;
  flex-grow: 1;
}

.feed-post-card__tags {
  font-size: 14px;
  align-self: end;
  font-weight: lighter;
}

.feed-post-card__title {
  font-size: 16px;
  font-weight: 600;
}

a.feed-post-card, a.feed-post-card:hover {
  text-decoration: none;
}

.feed-post-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.feed-post-card:hover > .feed-post-card__footer {
  background: rgba(0, 0, 0, 0.9);
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.feed-post-card:hover > .feed-post-card__content {
  opacity: 1;
}

.like-button {
  user-select: none;
  cursor: pointer;
  transition: 80ms linear;
}

.like-button:hover, .liked {
  color: deepskyblue;
}

.liked {
  cursor: default;
}

.feed-post-card__distance {
  font-weight: lighter;
}
