body{
  overflow-y: hidden;
}

.home-container{
  background-color: black;

  .full-feed-button{
    position: fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:20px;

    button{
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: black;
      border: None;
      color: white;
    }
  }
}
